<h1>Listing disks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disks.each do |disk| %>
  <tr>
    <td><%= disk.name %></td>
    <td><%= disk.size %></td>
    <td><%= link_to 'Show', disk %></td>
    <td><%= link_to 'Edit', edit_disk_path(disk) %></td>
    <td><%= link_to 'Destroy', disk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disk', new_disk_path %>
