<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @car.brand %>
</p>

<p>
  <b>Owner:</b>
  <%= @car.owner %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
